:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --page-background-color: #ffffff;
  --nav-items-color: #000000;
  --subtitle-color: #333333;
  --button-background-color: #b88e2f;
  --hero-box-color: #fff3e3;
  --range-text-color: #666666;
  --primary-products-color: #3a3a3a;
  --products-item-background-color: #f4f5f7;
  --products-item-description-color: #898989;
  --products-previous-price-color: #b0b0b0;
  --inspiration-background-color: #fcf8f3;
  --inspiration-text-color: #616161;
  --footer-text-color: #9f9f9f;
  --transition: 250ms linear;
}

body {
  font-family: var(--font-family);
}

.container {
  /* display: flex; */
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

.list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.link {
  display: block;

  text-decoration: none;
}

.image {
  display: block;
}

/* ---------- HEADER ---------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.first-nav-list {
  display: flex;
  gap: 75px;
}

.first-nav-link {
  padding: 38px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-items-color);

  transition: color var(--transition);
}

.first-nav-link:is(:hover, :focus) {
  color: #b88e2f;
}

.second-nav-list {
  display: flex;
  gap: 45px;
}

.second-nav-link {
  padding: 36px 0;
}

.header-logo-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  color: var(--nav-items-color);
}

.first-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-items-color);
}

.profile-icon,
.cart-icon {
  fill: black;
  transition: fill var(--transition), scale var(--transition);
}

.profile-icon:is(:hover, :focus),
.cart-icon:is(:hover, :focus) {
  fill: #b88e2f;
  /* scale: 0.95; */
}

.search-icon,
.liked-icon {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
}

.liked-icon {
  stroke-linejoin: round;
}

/* ---------- /HEADER ---------- */

/* ---------- HERO ---------- */

.hero {
  max-width: 1440px;
  background-image: url("../images/home/hero-background-img.jpg");
  background-position: center;
}

.hero-container {
  padding-top: 153px;
  padding-bottom: 116px;
}

.hero-box {
  margin-left: auto;
  padding: 62px 43px 37px 39px;

  max-width: 643px;

  background-color: var(--hero-box-color);
  border-radius: 10px;
}

.hero-subtitle {
  margin-bottom: 4px;
  margin-left: 2px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.19em;
  color: var(--subtitle-color);
}

.hero-title {
  margin-bottom: 17px;
  margin-left: 2px;

  font-weight: 700;
  font-size: 52px;
  line-height: 1.25;
  color: var(--button-background-color);
}

.hero-text {
  margin-bottom: 46px;
  margin-left: 2px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--subtitle-color);
}

.hero-button {
  padding: 25px 72px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--page-background-color);

  background-color: var(--button-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border var(--transition), transform var(--transition);
}

.hero-button:is(:hover, :focus) {
  color: #b88e2f;
  background-color: transparent;
  border: 1px solid var(--button-background-color);
  transform: scale(0.95);
}

/* ---------- /HERO ---------- */

/* ---------- RANGE ---------- */

.range-container {
  padding: 56px 27px;
}

.range-title {
  text-align: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--subtitle-color);
}

.range-text {
  text-align: center;
  margin-bottom: 62px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--range-text-color);
}

.range-list {
  display: flex;
  gap: 20px;
}

.range-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.range-item-image {
  margin-bottom: 30px;

  border-radius: 10px;
}

/* ---------- /RANGE ---------- */

/* ---------- PRODUCTS ---------- */

.products-container {
  padding-bottom: 69px;
}

.products-title {
  text-align: center;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--primary-products-color);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}

.products-img-wrap {
  position: relative;

  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(58, 58, 58, 0.72);
  opacity: 0;
  cursor: default;
  transition: opacity var(--transition), transform var(--transition),
    background-color var(--transition);
}

.products-link:is(:hover, :focus) .overlay,
.products-list-item:is(:hover, :focus) .overlay {
  opacity: 1;
  background-color: rgba(58, 58, 58, 0.72);
  transform: translate(0, -100%);
}

.overlay-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 252px;
}

.products-overlay-button {
  padding: 12px 52px;
  margin-bottom: 24px;

  width: 202px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #b88e2f;

  cursor: pointer;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid transparent;
  transition: color var(--transition), background-color var(--transition),
    border var(--transition), scale var(--transition);
}

.products-overlay-button:is(:hover, :focus) {
  color: #ffffff;

  background-color: #b88e2f;
  border: 1px solid transparent;
  scale: 0.95;
}

.products-btn-list {
  display: flex;
  gap: 20px;

  max-width: 252px;
}

.products-overlay-btn {
  display: flex;
  align-items: center;
  gap: 2px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like-button {
  margin: 0;
  padding: 0;
}

.products-btn-icon {
  fill: #ffffff;
}

.like-icon {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.products-btn-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;

  transition: color var(--transition);
}

.products-btn-text:is(:hover, :focus) {
  color: #b88e2f;
}

.products-item-container {
  background-color: var(--products-item-background-color);
  padding: 16px 20px 30px 16px;
}

.products-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-products-color);
}

.products-item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--products-item-description-color);
}

.products-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-products-color);
}

.products-previous-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: line-through;
  color: var(--products-previous-price-color);
}

.products-button {
  display: block;
  padding: 12px 78px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-background-color);

  background-color: transparent;
  border: 1px solid var(--button-background-color);
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border var(--transition), transform var(--transition);
}

.products-button:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  transform: scale(0.95);
}

/* ---------- /PRODUCTS ---------- */

/* ---------- INSPIRATION ---------- */

.inspiration-container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;

  background-color: var(--inspiration-background-color);
}

.inspiration-text-container {
  max-width: 442px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 42px;
}

.inspiration-title {
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--primary-products-color);
}

.inspiration-text {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--inspiration-text-color);
}

.inspiration-button {
  padding: 12px 36px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--page-background-color);

  background-color: var(--button-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border var(--transition), transform var(--transition);
}

.inspiration-button:is(:hover, :focus) {
  color: #b88e2f;
  background-color: transparent;
  border: 1px solid var(--button-background-color);
  transform: scale(0.95);
}

.inspiration-box {
  position: relative;
}

.inspiration-text-box {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.inspiration-secondary-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 17px;

  background-color: rgba(255, 255, 255, 0.72);
}

.inspiration-third-box {
  display: flex;
}

.inspiration-box-suptitle {
  margin-right: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--inspiration-text-color);
}

.inspiration-box-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: var(--primary-products-color);
}

.inspiration-text-box {
  display: flex;
  align-items: flex-end;
}

.inspiration-box-button {
  padding: 12px;

  background-color: var(--button-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition),
    scale var(--transition);
}

.inspiration-box-button:is(:hover, :focus) {
  background-color: transparent;
  border: 1px solid var(--button-background-color);
  scale: 0.95;
}

.inspiration-icon {
  padding: 6px 3px;
  fill: none;
  stroke: #ffffff;
  style: stroke;
}

.inspiration-box-button:is(:hover, :focus) .inspiration-icon {
  fill: #b88e2f;
  scale: 0.95;
}

/* .inspiration-list {
  display: flex;
} */

/* ---------- /INSPIRATION ---------- */

/* ---------- FURNITURE ---------- */

/* .furniture {
  max-width: 1799px;
}

.furniture-list {
  display: flex;
  gap: 16px;
}

.first-list-container {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
    gap: 16px;
}

.furniture-image-five {
  display: flex;
  align-items: center;
}

.second-list-container {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 16px;
} */

.furniture-container {
  padding-top: 67px;
  padding-bottom: 50px;
}

.furniture-subtitle {
  text-align: center;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--inspiration-text-color);
}

.furniture-title {
  text-align: center;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--primary-products-color);
}

/* ---------- /FURNITURE ---------- */

/* ---------- FOOTER ---------- */

.footer {
  border-top: 1px solid #d9d9d9;
}

.footer-container {
  padding-top: 48px;
  padding-bottom: 38px;
}

.footer-box {
  display: flex;
  margin-bottom: 48px;
}

.footer-secondary-box {
  margin-right: 136px;
}

.footer-logo {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--nav-items-color);
}

.footer-address {
  max-width: 285px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);

  font-style: normal;
}

.footer-list {
  display: flex;
  gap: 144px;
  margin-right: 72px;
}

.footer-item-title {
  margin-bottom: 55px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

.footer-second-list,
.footer-third-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.footer-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-items-color);
}

.footer-newsletter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

.copyright-container {
  padding-top: 35px;

  border-top: 1px solid #d9d9d9;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-items-color);
}

/* ---------- /FOOTER ---------- */
